{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test"
      }
    }]
  ]
}